<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="assets/images/avatars/avatar.png" />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">
                                You have 0 new messages
                            </div>
                        </div>
                        <flash-messages></flash-messages>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button class="fuse-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'"
                        [routerLink]="['/dashboard']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                        <span class="ml-2">Home</span>
                    </button>
                    <a class="fuse-mat-button-rounded" href="javascript:void(0);" [routerLink]="['/store-setting']"
                        mat-flat-button [color]="'primary'">
                        <fa-icon [icon]="faStore"></fa-icon>
                        <span class="ml-2">Store</span>
                    </a>

                    <a target="_blank" class="fuse-mat-button-rounded" href="https://wa.me/?text=Dear Customer,We are delighted to inform you that our store is now online on https://{{
                            domainname
                        }}.direct-buy.in and orders can be placed online.
                        Regards - {{ firstname }}" style="text-decoration: none;">
                        <button mat-flat-button color="success" style="background-color: #25D366;color: #f0fff3;">
                            <fa-icon [icon]="faWhatsapp"></fa-icon>
                            <span class="ml-2">WhatsApp</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex flex-col m-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <!-- <div class="row">
                    <div class="col-md-2">
                        <button
                            class="lg:mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="prevStep()"
                        >
                            Back
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button
                            class="lg:mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="nextStep()"
                        >
                            Next
                        </button>
                    </div>
                </div> -->
                <div *ngIf="shop_payment_status == 0">
                    <div class="row">
                        <div class="col-md-6" *ngIf="this.data.trail_activate == 0">
                            <span>
                                <strong>
                                    Trail Offer : <span style="color:green">Not Used</span>
                                </strong>
                                <p style="color:blue">
                                    Valid for 3 months
                                </p>
                            </span>
                            <div class="flex items-center">
                                <div class="flex items-center mr-4" *ngIf="flashMessage">
                                    <ng-container *ngIf="flashMessage === 'success'">
                                        <mat-icon class="text-green-500" [svgIcon]="
                                                'heroicons_outline:check'
                                            "></mat-icon>
                                        <span class="ml-2">Shop Activated</span>
                                    </ng-container>
                                    <ng-container *ngIf="flashMessage === 'error'">
                                        <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                        <span class="ml-2">An error occurred, try again!</span>
                                    </ng-container>
                                </div>

                                <button class="lg:mt-6" mat-flat-button [color]="'warn'" (click)="prevStep()">
                                    Back
                                </button>
                                &nbsp;
                                <button class="lg:mt-6" mat-flat-button [color]="'primary'"
                                    (click)="activateTrial(this.data.shopId)">
                                    Activate
                                </button>
                                <!-- <a
                                    href="javascript:void(0);"
                                    
                                    class="btn btn-primary"
                                    onclick="return confirm('Are you sure to activate trial period of 3months?')?true:false;"
                                    >Activate 3 months Trial</a
                                > -->
                            </div>
                            <p><small>*By activating, you agree to the terms & conditions</small></p>
                        </div>
                        <div class="col-md-6" *ngIf="this.data.trail_activate == 1">
                            <span>
                                <strong>
                                    Trail Offer : <span style="color:green">Used</span>
                                </strong>
                                <p style="color:blue">Continue activation, by paying 4999/-
                                    <br>
                                    Valid for 12 months
                                </p>
                            </span>
                            <div class="flex items-center">
                                <div class="flex items-center mr-4" *ngIf="flashMessage">
                                    <ng-container *ngIf="flashMessage === 'success'">
                                        <mat-icon class="text-green-500" [svgIcon]="
                                                'heroicons_outline:check'
                                            "></mat-icon>
                                        <span class="ml-2">Shop Activated</span>
                                    </ng-container>
                                    <ng-container *ngIf="flashMessage === 'error'">
                                        <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                        <span class="ml-2">An error occurred, try again!</span>
                                    </ng-container>
                                </div>
                                <button class="lg:mt-6" mat-flat-button [color]="'warn'" (click)="prevStep()">
                                    Back
                                </button>
                                &nbsp;
                                <button class="lg:mt-6" mat-flat-button [color]="'primary'"
                                    (click)="createRzpayOrder(data)">
                                    Activate
                                </button>
                            </div>
                            <p><small>*By activating, you agree to the terms & conditions</small></p>
                        </div>
                    </div>
                </div>
                <div *ngIf="shop_payment_status == 1">
                    <span>
                        <strong>Congratulations Your store got created and URL of
                            the store
                            <a target="_blank">{{ this.data.domainname }}.direct-buy.in</a>
                            can be provide to your customers to access your
                            store.
                        </strong>
                    </span>
                    <div class="flex items-center">
                        <button class="lg:mt-6" mat-flat-button [color]="'primary'" (click)="nextStep()">
                            Next
                        </button>
                    </div>
                </div>
                <!-- <form [formGroup]="storeCheckoutForm" autocomplete="off">
                    <div class="form-group">
                        <label for="shop_name"><b>Shop Name:</b></label>
                        <input
                            type="text"
                            formControlName="shop_name"
                            placeholder="Shop name"
                            name="shop_name"
                            id="shop_name"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            formControlName="shopId"
                            placeholder="shopId"
                            name="shopId"
                            id="shopId"
                            class="form-control"
                        />
                    </div>
                    &nbsp;
                    <button (click)="payWithRazor()" class="btn btn-success">
                        Pay
                    </button>
                </form> -->
            </div>
        </div>
    </div>
</div>