// .container {
//     display: none;
//     position: fixed;
//     padding-top: 150px;
//     align-items:stretch;
//     top: 0;
//     width: 100%; 
//     height: 100%;
//     //background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
//   }
  
  .content {
    background-color: #cf2828;
    // color:#fff6f6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  h4{
    color:#fff6f6;
  }
  p
  {
    color:#fff6f6;
  }

  .accountDltbtn{
    float:right;
    margin-top:-35px;
}

.icn{
  color:#fff6f6;
}

.lable{
  color:#fff6f6
}