<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0">
        <div class="flex-auto p-6 sm:p-10">
            <div
                class="
                    flex flex-col
                    m-8
                    p-8
                    pb-4
                    bg-card
                    rounded-2xl
                    shadow
                    overflow-hidden
                "
            >
                <label> Select Days</label>
                <div style="padding-top: 3%">
                    <form>
                        <input
                            class="form-check-input"
                            (change)="update($event, 'Monday')"
                            type="checkbox"
                        />
                        Monday
                        <div *ngFor="let dt of days">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        *ngIf="dt.Monday == 0"
                                    />
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        *ngIf="dt.Monday == 1"
                                        (change)="update($event, 'Monday')"
                                        checked="true"
                                    />
                                    Monday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        *ngIf="dt.Tuesday == 0"
                                        (change)="update($event, 'Tuesday')"
                                    />
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        *ngIf="dt.Tuesday == 1"
                                        (change)="update($event, 'Tuesday')"
                                        checked="true"
                                    />
                                    Tuesday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Wednesday == 0"
                                        (change)="update($event, 'Wednesday')"
                                    />
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Monday == 1"
                                        (change)="update($event, 'Wednesday')"
                                        checked="true"
                                    />
                                    Wednesday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Thursday == 0"
                                        (change)="update($event, 'Thursday')"
                                    />
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Thursday == 1"
                                        (change)="update($event, 'Thursday')"
                                        checked="true"
                                    />
                                    Thursday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Friday == 0"
                                        (change)="update($event, 'Friday')"
                                    />
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Friday == 1"
                                        (change)="update($event, 'Friday')"
                                        checked="true"
                                    />
                                    Friday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Saturday == 0"
                                        (change)="update($event, 'Saturday')"
                                    />
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Saturday == 1"
                                        (change)="update($event, 'Saturday')"
                                        checked="true"
                                    />
                                    Saturday
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Sunday == 0"
                                        (change)="update($event, 'Sunday')"
                                    />
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        *ngIf="dt.Sunday == 1"
                                        (change)="update($event, 'Sunday')"
                                        checked="true"
                                    />
                                    Sunday
                                </label>
                            </div>
                        </div>


<mat-step [stepControl]="" label="">
<label> Select Days</label>
<div style="padding-top: 3%">
<form>



<div *ngFor=" let dt of days ">
<div class="form-check form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="checkbox" *ngIf="dt.Monday==0" (change)="update($event,'Monday')">
<input class="form-check-input" type="checkbox"   *ngIf="dt.Monday==1" (change)="update($event,'Monday')" checked="true">
Monday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="checkbox" *ngIf="dt.Tuesday==0"  (change)="update($event,'Tuesday')">
<input class="form-check-input" type="checkbox" *ngIf="dt.Tuesday==1"  (change)="update($event,'Tuesday')" checked="true">
Tuesday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input type="checkbox" class="form-check-input"  *ngIf="dt.Wednesday==0" (change)="update($event,'Wednesday')">
<input type="checkbox" class="form-check-input"  *ngIf="dt.Monday==1" (change)="update($event,'Wednesday')" checked="true">
Wednesday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input type="checkbox" class="form-check-input" *ngIf="dt.Thursday==0" (change)="update($event,'Thursday')">
<input type="checkbox" class="form-check-input" *ngIf="dt.Thursday==1"  (change)="update($event,'Thursday')" checked="true">
Thursday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input type="checkbox" class="form-check-input" *ngIf="dt.Friday==0" (change)="update($event,'Friday')">
<input type="checkbox" class="form-check-input" *ngIf="dt.Friday==1" (change)="update($event,'Friday')" checked="true">
Friday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input type="checkbox" class="form-check-input"  *ngIf="dt.Saturday==0" (change)="update($event,'Saturday')">
<input type="checkbox" class="form-check-input" *ngIf="dt.Saturday==1" (change)="update($event,'Saturday')" checked="true">
Saturday
</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label">
<input type="checkbox" class="form-check-input" *ngIf="dt.Sunday==0" (change)="update($event,'Sunday')">
<input type="checkbox" class="form-check-input" *ngIf="dt.Sunday==1" (change)="update($event,'Sunday')" checked="true">
Sunday
</label>
</div>
</div>

                    <div class="col-md-6">
                        <div>
                            <div
                                class="form-check form-check-inline"
                                *ngFor="let dt of time"
                            >
                                <label class="form-check-label"
                                    ><input
                                        type="checkbox"
                                        class="form-check-input"
                                        (change)="
                                            updateslot(
                                                $event,
                                                dt.from_time,
                                                dt.to_time,
                                                dt.id
                                            )
                                        "
                                    />{{ dt.from_time }} -
                                    {{ dt.to_time }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <p *ngIf="savedtime">Selected Slots</p>
                <div>
                    <label></label>
                </div>
                <table class="table" *ngIf="savedtime">
                    <thead class="thead-dark">
                        <th>Slot</th>
                        <th>Action</th>
                    </thead>
                    <tr *ngFor="let dt of savedtime">
                        <td>{{ dt.from_time }} - {{ dt.to_time }}</td>
                        <td>
                            <button (click)="delete(dt.id)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
