
<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/brian-hughes.jpg"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0">
        <div class="flex-auto p-6 sm:p-10">
            <div class="border-2 border-white-300 rounded-2xl">
                <mat-horizontal-stepper
                    [linear]=""
                    #stepper
                    labelPosition="bottom"
                >
                    
                    <mat-step [stepControl]="" label="">
                        <div style="padding-top: 3%">
                            <form>
                           
   <b>Select Days</b>
   <br />
   <br />
      <div *ngIf="days==''">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" (change)="update($event,'Monday')">
           
            Monday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox"  (change)="update($event,'Tuesday')">
           
            Tuesday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"   (change)="update($event,'Wednesday')">
            
            Wednesday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  (change)="update($event,'Thursday')">
           
            Thursday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  (change)="update($event,'Friday')">
           
            Friday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"   (change)="update($event,'Saturday')">
           
            Saturday
            </label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  (change)="update($event,'Sunday')">
           
            Sunday
            </label>
            </div>
      </div>
          <div *ngFor=" let dt of days ">
             
              <div *ngIf="dt.Monday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Monday')">
  Monday
  </label>
  </div>
  
  <div *ngIf="dt.Monday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Monday')" checked="true">
      Monday
      </label>
      </div>
  
  
  
             
              <div *ngIf="dt.Tuesday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Tuesday')">
  Tuesday
  </label>
  </div>
  <div *ngIf="dt.Tuesday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Tuesday')" checked="true">
      Tuesday
    </label>
      </div>
  
             
              <div *ngIf="dt.Wednesday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Wednesday')">
  Wednesday
  </label>
  </div>
  <div *ngIf="dt.Wednesday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Wednesday')" checked="true">
      Wednesday
      </label>
      </div>
  
             
              <div *ngIf="dt.Thursday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Thursday')">
  Thursday
  </label>
  </div>
  <div *ngIf="dt.Thursday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Thursday')" checked="true">
      Thursday
      </label>
      </div>
  
             
              <div *ngIf="dt.Friday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Friday')">
  Friday
  </label>
  </div>
  <div *ngIf="dt.Friday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Friday')" checked="true">
      Friday
      </label>
      </div>
  
             
              <div *ngIf="dt.Saturday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Saturday')">
  Saturday
  </label>
  </div>
  <div *ngIf="dt.Saturday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Saturday')" checked="true">
      Saturday    
      </label>
    </div>
  
              <div *ngIf="dt.Sunday==0" class="form-check form-check-inline">
                <label class="form-check-label">
  <input type="checkbox"  (change)="update($event,'Sunday')">
  Sunday
  </label>
  </div>
  <div *ngIf="dt.Sunday==1" class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="checkbox"  (change)="update($event,'Sunday')" checked="true">
      Sunday
      </label>
      </div>
  </div>
                   
                                <br />
                               
                               <div class="row">
                                <div class="col-md-6" >
                                    <b>Select Day and Slot</b>
                                    <br />
                                    <div *ngFor="let dt of days">
                                   
                                    
                                    <select
                                    
                                    type="text"
                                      class="form-control"
                                      required=""
                                      formControlName="slot"
                                     (change)="daySelected($event.target.value)"
                                     >
                                     <option >Select</option>
                                       <option *ngIf="dt.Monday==1" >Monday</option>
                                        <option   *ngIf="dt.Tuesday==1">Tuesday</option>
                                        <option *ngIf="dt.Wednesday==1">Wednesday</option>
                                        <option *ngIf="dt.Thursday==1">Thursday</option>
                                        <option *ngIf="dt.Friday==1">Friday</option>
                                        <option *ngIf="dt.Saturday==1">Saturday</option>
                                        <option *ngIf="dt.Sunday==1">Sunday</option>
                                                                         
                                     
                                     </select>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                     <br/>
                                    <div
                                    class="form-check form-check-inline"
                                    *ngFor="let dt of time"
                                >
                                    <label class="form-check-label"
                                        ><input
                                            type="checkbox"
                                            class="form-check-input"
                                            (change)="
                                                updateslot(
                                                    $event,
                                                    dt.from_time,
                                                    dt.to_time,
                                                    dt.id
                                                )
                                            "
                                        />{{ dt.from_time }} -
                                        {{ dt.to_time }}
                                    </label>
                                </div>
                                 </div>
                                 
                               </div>
                               <table class="table" *ngIf="savedtime">
                                <thead class="thead-dark">
                                    <th>Slot</th>
                                    <th>Action</th>
                                </thead>
                                <tr *ngFor="let dt of savedtime">
                                    <td>{{ dt.from_time }} - {{ dt.to_time }}</td>
                                    <td>
                                        <button (click)="delete(dt.id)">Delete</button>
                                    </td>
                                </tr>
                            </table>
                            </form>
                        </div>
                        
                    </mat-step>
  
                    >
                   </mat-horizontal-stepper>
                                  
            </div>
        </div>
    </div>
    
  </div>
  
  