<div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Monday')">Monday</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Tuesday')">Tuesday</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Wednesday')">Wednesday</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Thursday')">Thursday</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Friday')">Friday</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Saturday')">Saturday</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="" (change)="update($event,'Sunday')">Sunday</label>
</div>