<div class='container' style="background-color: #fff; padding: 50px;">  
    <div class="row">
        <div class="col-md-3">
        <img id="" src="./assets/images/banner_img6.jpg"  class=""  alt="" style="width:260px;height:25rem;" >
        </div>
    <div class='col-md-9'>  
        <ngb-carousel>  
            <ng-template ngbSlide>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product1.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product3.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product5.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star "></span>
                            </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product7.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product6.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="./assets/images/product8.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product9.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                </div> 
            </ng-template>  
            <ng-template ngbSlide>  
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product7.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product4.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="card" >
                            <img class="card-img-top" src="./assets/images/product5.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                              </p>
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="cart-btn">Select Options >></a>
                            </div>
                          </div> 
                    </div>
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
</div>
</div>  