<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div>
                        <flash-messages></flash-messages>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="
                    flex flex-col
                    m-8
                    p-8
                    pb-4
                    bg-card
                    rounded-2xl
                    shadow
                    overflow-hidden
                "
            >
                <span
                    ><strong>
                        Edit Your Details
                        <small style="color: red"
                            >Click on text field to edit details</small
                        ></strong
                    >
                </span>
                <br />
                <form
                    [formGroup]="profileForm"
                    (ngSubmit)="onUpdate()"
                    autocomplete="off"
                >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_name"
                                    ><b>First Name:</b></label
                                >

                                <input
                                    readonly="true"
                                    (click)="editProfile()"
                                    formControlName="firstname"
                                    name="firstname"
                                    type="text"
                                    class="form-control"
                                    id="firstname"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_address"
                                    ><b>Last Name:</b></label
                                >
                                <input
                                    readonly=""
                                    (click)="editProfile()"
                                    formControlName="lastname"
                                    name="lastname"
                                    type="text"
                                    class="form-control"
                                    id="lastname"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_name"
                                    ><b>Domain Name:</b></label
                                >
                                <input
                                    readonly=""
                                    formControlName="domainname"
                                    name="domainname"
                                    type="text"
                                    class="form-control"
                                    id="domainname"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_address"
                                    ><b>Contact:</b></label
                                >
                                <input
                                    readonly=""
                                    type="text"
                                    formControlName="contact"
                                    id="conatct"
                                    name="contact"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_name"><b>Email:</b></label>
                                <input
                                    readonly=""
                                    type="text"
                                    formControlName="email"
                                    name="email"
                                    id="email"
                                    class="form-control"
                                />
                                <span id="message"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_address"
                                    ><b>Password:</b></label
                                >
                                <input
                                    readonly=""
                                    type="text"
                                    formControlName="password"
                                    name="password"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_name"><b>Address:</b></label>
                                <input
                                    readonly=""
                                    (click)="editProfile()"
                                    type="text"
                                    formControlName="address"
                                    name="address"
                                    id="address"
                                    class="form-control"
                                />
                                <span id="message"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shop_address"><b>Logo:</b></label>
                                <input
                                    disabled=""
                                    (click)="editProfile()"
                                    formControlName="logo"
                                    name="logo"
                                    type="file"
                                    id="logo"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <br />
                    <button
                        class="btn btn-success"
                        (click)="editProfile()"
                        id="editProfileBtn"
                        disabled="true"
                        style="width: 100px"
                    >
                        Update
                    </button>
                    <!-- <button
                        type=""
                        (click)="editProfile()"
                        id="editProfile"
                        class="btn btn-info"
                        style="width: 100px"
                    >
                        Edit
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</div>
