button {
    background-color: rgb(36, 87, 43);
    // pointer-events: none;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 1.2em;
    padding: 5px 10px;
    outline: none;
}
.whatsappbtn {
    background-color: #25D366;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 10px;
    outline: none;
    text-decoration: none;
}
