button {
    background-color: rgb(122, 197, 228);
    // pointer-events: none;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px 10px;
    outline: none;
}
