button {
    background-color: rgb(122, 197, 228);
    // pointer-events: none;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px 10px;
    outline: none;
}

:host
    ::ng-deep
    .mat-slide-toggle.mat-checked:not(.mat-disabled)
    .mat-slide-toggle-bar {
    background-color: #49c5b6;
}

:host
    ::ng-deep
    .mat-slide-toggle.mat-checked:not(.mat-disabled)
    .mat-slide-toggle-thumb {
    background-color: #49c5b6;
}
.whatsappbtn {
    background-color: #25D366;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 10px;
    outline: none;
    text-decoration: none;
}
