<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                {{ t("welcome-back") }}, {{ Asma }}!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 0 new messages
                            </div>
                        </div>
                        <!-- <flash-messages></flash-messages> -->
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                        [routerLink]="['/dashboard']"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:home'"
                        ></mat-icon>
                        <span class="ml-2">Home</span>
                    </button>
                    <a
                        target="_blank"
                        class="fuse-mat-button-rounded"
                        href="https://{{ domainname }}.direct-buy.in"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <fa-icon [icon]="faStore"></fa-icon>
                        <span class="ml-2">Store</span>
                    </a>
                    <a
                        target="_blank"
                        class="fuse-mat-button-rounded"
                        href="https://wa.me/?text=Dear Customer,We are delighted to inform you that our store is now online on https://{{
                            domainname
                        }}.direct-buy.in and orders can be placed online.
                        Regards - {{ firstname }}"
                        style="text-decoration: none;"
                    >
                        <button mat-flat-button color="success" style="background-color: #25D366;color: #f0fff3;">
                            <fa-icon [icon]="faWhatsapp"></fa-icon>
                            <span class="ml-2">WhatsApp</span>
                        </button>
                    </a>
                </div>
            </div>
            <!-- Project selector -->
            <div
                class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple
                [matMenuTriggerFor]="projectsMenu"
            >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">
                            {{ selectedProject | titlecase }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chevron-down'"
                        ></mat-icon>
                    </div>
                </div>
                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
                    <button (click)="dashbaord()" mat-menu-item>
                        Dashboard
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <!-- Settings -->
                <mat-tab label="Settings">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 gap-6 w-full min-w-0">
                            <!-- Payment Options -->
                            <div
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            >
                                <p><b>Edit Shop Details</b></p>
                                <form
                                    [formGroup]="editShopForm"
                                    autocomplete="off"
                                >
                                    <div class="flex flex-col sm:flex-row p-4">
                                        <div class="flex flex-auto flex-wrap">
                                            <!-- Name -->
                                            <div
                                                class="flex flex-col w-full lg:w-1/4 sm:pl-8"
                                            >
                                                <!-- Name -->
                                                <mat-form-field class="w-full">
                                                    <mat-label>Name</mat-label>
                                                    <input
                                                        matInput
                                                        formControlName="shop_name"
                                                    />
                                                </mat-form-field>
                                            </div>

                                            <!-- Address -->
                                            <div
                                                class="flex flex-col w-full lg:w-2/4 sm:pl-8"
                                            >
                                                <mat-form-field class="w-full">
                                                    <mat-label
                                                        >Address</mat-label
                                                    >
                                                    <input
                                                        matInput
                                                        formControlName="shop_address"
                                                    />
                                                </mat-form-field>
                                            </div>

                                            <!-- GST -->
                                            <div
                                                class="flex flex-col w-full lg:w-1/4 sm:pl-8"
                                            >
                                                <mat-form-field class="w-full">
                                                    <mat-label>GST</mat-label>
                                                    <input
                                                        matInput
                                                        formControlName="shop_gst"
                                                    />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="flex items-center justify-between w-full px-8 py-4"
                                    >
                                        <button
                                            class="-ml-4"
                                            mat-button
                                            [color]="'warn'"
                                            (click)="deleteShop()"
                                        >
                                            Delete
                                        </button>
                                        <button
                                            (click)="reactivateShop()"
                                            mat-button
                                            [color]="'warn'"
                                            *ngIf="
                                                shop_status == 2;
                                                else deactivate
                                            "
                                        >
                                            Deactivated
                                        </button>
                                        <ng-template #deactivate>
                                            <button
                                                (click)="deactivateShop()"
                                                mat-button
                                                [color]="'warn'"
                                            >
                                                Deactivate
                                            </button>
                                        </ng-template>
                                        <div class="flex items-center">
                                            <div
                                                class="flex items-center mr-4"
                                                *ngIf="flashMessage"
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        flashMessage ===
                                                        'success'
                                                    "
                                                >
                                                    <mat-icon
                                                        class="text-green-500"
                                                        [svgIcon]="
                                                            'heroicons_outline:check'
                                                        "
                                                    ></mat-icon>
                                                    <span class="ml-2"
                                                        >Product updated</span
                                                    >
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="
                                                        flashMessage === 'error'
                                                    "
                                                >
                                                    <mat-icon
                                                        class="text-red-500"
                                                        [svgIcon]="
                                                            'heroicons_outline:x'
                                                        "
                                                    ></mat-icon>
                                                    <span class="ml-2"
                                                        >An error occurred, try
                                                        again!</span
                                                    >
                                                </ng-container>
                                            </div>
                                            <button
                                                mat-flat-button
                                                [color]="'primary'"
                                                (click)="updateShopDetails()"
                                            >
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <!-- Separator -->
                                <div class="flex items-center mt-4">
                                    <div class="flex-auto mt-px border-t"></div>
                                </div>
                                <br />
                                <p *ngIf="shopData.vacation_mode == 0">
                                    <b>Vacation Mode</b>
                                    <br />
                                    <span style="color: red">Note:</span>
                                    Enabling this option will stop customers
                                    from placing orders from your online store.
                                </p>
                                <p *ngIf="shopData.vacation_mode == 1">
                                    <b>Vacation Mode</b>
                                    <br />
                                    <span style="color: red">Note:</span>
                                    Disabling this option will make customers to
                                    place orders from your online store.
                                </p>
                                <form
                                    class="example-form"
                                    [formGroup]="vacationForm"
                                    ngNativeValidate
                                >
                                    <div
                                        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b"
                                    >
                                        <!-- Actions -->
                                        <div
                                            class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
                                        >
                                            <!-- Vacation mode off -->
                                            <div
                                                class="flex flex-col w-full lg:w-2/4 sm:pl-8"
                                                *ngIf="
                                                    shopData.vacation_mode == 0
                                                "
                                            >
                                                <mat-slide-toggle
                                                    color="primary"
                                                    formControlName="vacation_mode"
                                                    >{{
                                                        "OFF"
                                                    }}</mat-slide-toggle
                                                >
                                            </div>
                                            &nbsp; &nbsp;
                                            <!-- Vacation mode on -->
                                            <div
                                                class="flex flex-col w-full lg:w-3/4 sm:pl-8"
                                                *ngIf="
                                                    shopData.vacation_mode == 1
                                                "
                                            >
                                                <mat-slide-toggle
                                                    color="accent"
                                                    checked
                                                    >{{
                                                        " ON"
                                                    }}</mat-slide-toggle
                                                >
                                            </div>
                                            &nbsp; &nbsp;
                                            <!-- Vacation button -->
                                            <div class="flex items-center">
                                                <div
                                                    class="flex items-center mr-4"
                                                    *ngIf="flashMessage"
                                                >
                                                    <ng-container
                                                        *ngIf="
                                                            flashMessage ===
                                                            'success'
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="text-green-500"
                                                            [svgIcon]="
                                                                'heroicons_outline:check'
                                                            "
                                                        ></mat-icon>
                                                        <span class="ml-2"
                                                            >Updated</span
                                                        >
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="
                                                            flashMessage ===
                                                            'error'
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="text-red-500"
                                                            [svgIcon]="
                                                                'heroicons_outline:x'
                                                            "
                                                        ></mat-icon>
                                                        <span class="ml-2"
                                                            >An error occurred,
                                                            try again!</span
                                                        >
                                                    </ng-container>
                                                </div>
                                                <button
                                                    mat-flat-button
                                                    [color]="'primary'"
                                                    (click)="
                                                        onVacationSubmit(
                                                            vacationForm.value
                                                        )
                                                    "
                                                >
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- <div class="flex items-center mt-4">
                                    <div class="flex-auto mt-px border-t"></div>
                                </div> -->
                                <br />
                                <br />
                                <p *ngIf="shopData.hide_0productQty == 0">
                                    <b>Product Stock Setting</b>
                                    <br />
                                    <span style="color: red">Note:</span>
                                    Enabling this option will display the zero
                                    stock products to customer
                                </p>
                                <p *ngIf="shopData.hide_0productQty == 1">
                                    <b>Product Quantity Setting</b>
                                    <br />
                                    <span style="color: red">Note:</span>
                                    Disabling this option will hide the zero
                                    stock products from customer
                                </p>
                                <form
                                    class="example-form"
                                    [formGroup]="hideproductQtyForm"
                                    ngNativeValidate
                                >
                                    <div
                                        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b"
                                    >
                                        <!-- Actions -->
                                        <div
                                            class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
                                        >
                                            <!-- Display Product -->
                                            <div
                                                class="flex flex-col w-full lg:w-2/4 sm:pl-8"
                                                *ngIf="
                                                    shopData.hide_0productQty ==
                                                    0
                                                "
                                            >
                                                <mat-slide-toggle
                                                    color="primary"
                                                    formControlName="hide_0productQty"
                                                    >{{
                                                        "OFF"
                                                    }}</mat-slide-toggle
                                                >
                                            </div>
                                            &nbsp; &nbsp;
                                            <!-- Hide Product -->
                                            <div
                                                class="flex flex-col w-full lg:w-3/4 sm:pl-8"
                                                *ngIf="
                                                    shopData.hide_0productQty ==
                                                    1
                                                "
                                            >
                                                <mat-slide-toggle
                                                    color="accent"
                                                    checked
                                                    >{{
                                                        " ON"
                                                    }}</mat-slide-toggle
                                                >
                                            </div>
                                            &nbsp; &nbsp;
                                            <!-- Vacation button -->
                                            <div class="flex items-center">
                                                <div
                                                    class="flex items-center mr-4"
                                                    *ngIf="flashMessage"
                                                >
                                                    <ng-container
                                                        *ngIf="
                                                            flashMessage ===
                                                            'success'
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="text-green-500"
                                                            [svgIcon]="
                                                                'heroicons_outline:check'
                                                            "
                                                        ></mat-icon>
                                                        <span class="ml-2"
                                                            >Updated</span
                                                        >
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="
                                                            flashMessage ===
                                                            'error'
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="text-red-500"
                                                            [svgIcon]="
                                                                'heroicons_outline:x'
                                                            "
                                                        ></mat-icon>
                                                        <span class="ml-2"
                                                            >An error occurred,
                                                            try again!</span
                                                        >
                                                    </ng-container>
                                                </div>
                                                <button
                                                    mat-flat-button
                                                    [color]="'primary'"
                                                    (click)="
                                                        hideproductQtyFormSubmit(
                                                            hideproductQtyForm.value
                                                        )
                                                    "
                                                >
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
