.table>:not(caption)>*>* {
    border-bottom-width:0px;

}
.btn.btn-success{
    background-color:var(--color);
}
@media print {
    .btn.btn-success {
      display: none
    }
    .col-md-3
    {
        width: 50%;
    }
}
@page {
    size:A6;
    margin: 0;
  }
  