<section class="container mt-12 mb-8 flex-container center" style="margin-top: 2%; margin-bottom: 2%;" >
  <div id="bars" class="d-flex flex-row  ">
    <div class="port-item p-4  categories  " data-toggle="collapse" data-target="#home" >
      <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight"><fa-icon [icon]="faShippingFast" id="font-icons" ></fa-icon></div>
      <div class="p-2 bd-highlight ">
         <h6 class="header-text" >Curated Products</h6>
      <p >from Handpicked Sellers</p>
      </div>
      </div>
      
    </div>
    <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#resume">
      <div class="d-flex flex-row bd-highlight mb-1">
         <div class="p-2 bd-highlight font-icons"><fa-icon [icon]="faSave" id="font-icons" ></fa-icon></div>
            <div class="p-2 bd-highlight"><h6 class="header-text">Handmade</h6>
      <p>Made with passion by 100+ curators across the country.</p></div>
      </div>
  </div>
    <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#work">
      <div class="d-flex flex-row bd-highlight mb-1">
         <div class="p-2 bd-highlight "><fa-icon [icon]="faShippingFast" id="font-icons"></fa-icon></div>
         <div class="p-2 bd-highlight"><h6 class="header-text">100% Natural</h6>
      <p>Eat local, consume local, closer to nature.</p></div>
   </div>
  </div>
    <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#contact">
      <div class="d-flex flex-row bd-highlight mb-1">
      <div class="p-2 bd-highlight"><fa-icon [icon]="faShippingFast" id="font-icons"></fa-icon></div>
      <div class="p-2 bd-highlight"><h6 class="header-text">Shipping</h6>
      <p>Across West & East India</p></div>
   </div>
    </div>
    <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#work">
      <div class="d-flex flex-row bd-highlight mb-1">
         <div class="p-2 bd-highlight"><fa-icon [icon]="faShippingFast" id="font-icons"></fa-icon></div>
         <div class="p-2 bd-highlight"><h6 class="header-text">Save Money</h6>
      <p>At lowest price</p></div>
    </div>
  </div></div>
</section>
 
 <footer class="footer-bg">
    <div class="flex-fluid ">
      <div id="bars" class="d-flex flex-row  ">
        <div class="port-item p-4  categories  " data-toggle="collapse" data-target="#home" >
          <div class="d-flex flex-row bd-highlight mb-1">
            <div class="p-2 bd-highlight"><fa-icon [icon]="faHeadset" id="font-icons"></fa-icon></div>
          <div class="p-2 bd-highlight">
            <h6 class="header-text article" >Call us 24/7</h6>
            <p > +31-9886204383</p></div>
</div>
        </div>
        <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#resume">
         <div class="d-flex flex-row bd-highlight mb-1">
           <div class="p-2 bd-highlight">  <fa-icon [icon]="faEnvelopeOpenText" id="font-icons"></fa-icon></div>
          <div class="p-2 bd-highlight"><h6 class="header-text">Email Us</h6>
            <p>contact@gmail.com</p></div>
          </div>
      </div>
        <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#work">
            <h6 class="header-text ">Follow Us on</h6>
           <ul>
              <li>Facebook</li>
            <li>
            </li>
         </ul>
      </div>
        <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#contact">
         <img src="./assets/images/payment.png" >
        </div>
      </div>
      </div>
      <hr>
<div class="flex-fluid">
      <div id="" class="d-flex flex-row footer-details ">
         <div class="port-item p-4  categories  " data-toggle="collapse" data-target="#home" >
            <a ><img src="./assets/images/logo_new.png"  style="width:150px;"></a>
           <!-- <div class="d-flex flex-row bd-highlight mb-1">
             <div class="p-2 bd-highlight"><fa-icon [icon]="faHeadset" id="font-icons"></fa-icon></div>
           <div class="p-2 bd-highlight">
             <h6 class="header-text article" >Call us 24/7</h6>
             <p > +31-9886204383</p></div>
 </div> -->
         </div>
         <div class="port-item p-4 border-right categories article" data-toggle="collapse" data-target="#resume">
            <h4>Store Location</h4>
           
               <p>Address</p>
              <p>Timings</p>
            
          <!-- <div class="d-flex flex-row bd-highlight mb-1">
            <div class="p-2 bd-highlight">  <fa-icon [icon]="faEnvelope" id="font-icons"></fa-icon></div>
           <div class="p-2 bd-highlight"><h6 class="header-text">Email Us</h6>
             <p>contact@gmail.com</p></div>
           </div> -->
       </div>
         <!-- <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#work">
            <h4>Information</h4>
       </div>
         <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#contact">
            <h4>Categories</h4>
         </div>
         <div class="port-item p-4  categories article" data-toggle="collapse" data-target="#contact">
            <h4>Categories</h4>
         </div> -->
       </div>
      </div>
      <!-- <div class="row foot-padd">
        <div class="col-md-1"></div>
      <div class="col-md-2">
        <a ><img src="./assets/images/logo_new.png" ></a>
      </div>
      <div class="col-md-3">
        <h4>Store Location</h4>
        <div>
          <ul>
            <li>Address</li>
            <li>Timings</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Information</h4>
      </div>
      <div class="col-md-3">
        <h4>Categories</h4>
      </div>
    </div> -->

  <!-- </div> -->
  <!-- <div class="flex-fluid">

  </div> -->
  <div class="flex-container copyright">
   <h4>Copyright@2021 ARSC Networks. All Rights Reserved</h4>
     </div>
  <!-- <section class="flex-container copyright">
   <h4>Copyright@2021 ARSC Networks. All Rights Reserved</h4>
     </section> -->
  </footer> 
<!-- <hr> -->
 
  
