a {
    color: #000;
    text-decoration: none;
}

.banner-img img {
    /* min-width: 80px; */
    position: relative;
    width: 100%;
    /* height: 100%; */
    min-height: 100%;
    border-radius: 1.5%;
}

@media (max-width: 780px) {
    .banner-img img {
        /* min-width: 80px; */
        position: relative;
        padding: 5px;
        width: 100%;
        /* height: 100%; */
        min-height: 100%;
        border-radius: 1.5%;
    }
}

/* .shop-new img {
  width: 200px;
  height: 150px;
} */
.carouselCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* .image-text p {
  text-align: left;
  padding: 0 0 0 55px;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
} */

.flex-column {
    max-width: 100px;
    /* border-right: 2px solid #161616; */
    /* box-shadow: 5px 10px red; */
}

/* .flex-border { */
/* height: 200px;
  margin-top: -50px;
  border-right: 2px solid #161616; */
/* box-shadow: 5px 10px red; */
/* } */

.flex-container {
    background-color: #fff;
    /* box-shadow: 5px 10px red; */
    /* font-size: 0.2em; */
    /* width: 100px; */
    /* margin-bottom: 10px; */
    padding: 20px;
    /* height: max-content; */

    align-items: left;
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.flex-image {
    /* background-image: url("assets/images/veg6.jpg"); */
    background-position: bottom right;
    background-repeat: no-repeat;
    max-height: 200px;
    margin: 0px;
    width: 100%;

    /* margin-top: -150px; */
    /* background-size: 30%; */
    /* margin-top: 150px; */
}

@media (max-width: 767px) {
    .flex-image {
        border-radius: 4px 4px 4px 4px;
        border-width: 1px 1px 1px 1px;
        padding: 30px 30px 30px 30px;
    }
}

.port-item {
    width: 50%;
    min-width: 0;
    /* width: calc(100vw - var(--scroll-bar)) !important;
  margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
  margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
  left: 0 !important; */
}

.port-item h6 {
    text-align: left;
    font-family: "Mazzard Soft H", "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    line-height: 1;
}

.text-left {
    text-align: left;
    margin-left: -30px;
}

.border-right {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #e2e2e2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 10px 0 100px 30px;
    /* border-right: 1px solid #494848; */
}

@media screen and (max-width: 768px) {
    #bars {
        flex-direction: column !important;
    }
    .port-item {
        width: 100%;
    }
}

/* .image-design {
  width: 10px;
  height: 10px;
} */

/* #hp {
  float: right;
  width: 100%;
  margin-top: -80px;
  margin-right: -24px;
  margin-bottom: -24px;
} */

.categories img {
    float: right;
    min-width: 140px;
    margin-top: -80px;
    margin-right: -24px;
    margin-bottom: -25px;
}

#images {
    width: 150px;
}

.categories-icon-list {
    /* display: flex; */
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#faAngleRight {
    padding-right: 10px;
    color: green;
}

.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
    margin-left: -100px;
    margin-right: -100px;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}

@media (hover: none) and (pointer: coarse) {
    .left-arrow,
    .right-arrow {
        display: none;
    }
}

.slider img {
    width: 300px;
    height: 300px;
}

/* @media screen and (max-width: 360px) {
  .text-left {
    border-style: 1px solid red;
  }
} */

.center-left {
    position: absolute;
    top: 8px;
    left: 10px;
}

@media screen and (max-width: 360px) {
    .hide {
        display: none;
    }
}
