<app-header></app-header>
<section class="container mt-12 mb-8 flex-container" style="margin-top: 2%">
    <h3 style="margin-top: 2%">
        <fa-icon [icon]="faCircle"></fa-icon> Categories
    </h3>
    <hr />
    <div id="bars" class="d-flex flex-row">
        <div
            class="port-item p-4 border-right categories"
            data-toggle="collapse"
            data-target="#home"
        >
            <h6 class="">Fruts & Vegetables</h6>
            <div
                class="
                    text-left
                    categories-icon-list
                    text-start
                    justify-content-start
                "
            >
                <ul style="list-style: none" class="text-left">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        ><a routerLink="/singleproduct" style="cursor: pointer"
                            >Product</a
                        >
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg1.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
        <div
            class="port-item p-4 border-right categories"
            data-toggle="collapse"
            data-target="#resume"
        >
            <h6>Dairy Products</h6>
            <div>
                <ul class="text-left" style="list-style: none">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <!-- <li><fa-icon [icon]="faAngleRight" id="faAngleRight"></fa-icon>Product</li> -->
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg2.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
        <div
            class="port-item p-4 border-right categories"
            data-toggle="collapse"
            data-target="#work"
        >
            <h6>Package Foods</h6>
            <div>
                <ul style="list-style: none" class="text-left">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg3.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
        <div
            class="port-item p-4 border-right categories"
            data-toggle="collapse"
            data-target="#contact"
        >
            <h6>Beverages</h6>
            <div>
                <ul style="list-style: none" class="text-left">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg4.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
        <div
            class="port-item p-4 border-right categories"
            data-toggle="collapse"
            data-target="#work"
        >
            <h6>Health & Wellness</h6>
            <div>
                <ul style="list-style: none" class="text-left">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg5.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
        <div
            class="port-item p-4 categories"
            data-toggle="collapse"
            data-target="#contact"
        >
            <h6>Grocery & Staples</h6>
            <div>
                <ul style="list-style: none" class="text-left">
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                    <li>
                        <fa-icon
                            [icon]="faAngleRight"
                            id="faAngleRight"
                        ></fa-icon
                        >Product
                    </li>
                </ul>
                <img
                    id="hp"
                    src="assets/customer/images/veg6.jpg"
                    class=""
                    alt=""
                />
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="banner-img">
        <div class="row mt-4 mb-4">
            <div class="col-md-4 rounded-20">
                <a>
                    <img src="assets/customer/images/banner_img.jpg" />
                    <!-- <div class="center-left"><p>Discover Real Organic Flavors</p>
          </div> -->
                </a>
            </div>
            <div class="col-md-4 rounded-30">
                <a>
                    <img src="assets/customer/images/banner_img1.jpg" />
                </a>
            </div>
            <div class="col-md-4 rounded-pill">
                <a>
                    <img src="assets/customer/images/banner_img2.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- <app-slider></app-slider> -->
</div>

&nbsp;&nbsp;
<div class="container">
    <!-- <app-slider></app-slider> -->
</div>

<section class="container">
    <div class="banner-img">
        <div class="row mt-4 mb-4">
            <div class="col-md-8 rounded-20">
                <a>
                    <img src="assets/customer/images/banner_img3.jpg" />
                </a>
            </div>
            <div class="col-md-4 rounded-30">
                <a>
                    <img src="assets/customer/images/banner_img4.jpg" />
                </a>
            </div>
            <!-- <div class="col-md-4 rounded-pill">
          <a >
            <img src="./assets/customer/images/banner_img2.jpg" >
          </a>
        </div> -->
        </div>
    </div>
</section>

<div class="container">
    <!-- <app-slider></app-slider> -->
</div>

<app-footer></app-footer>
