.example-button {
    display: flex;
    justify-content: center;
    width: 120px;
}
.whatsappbtn {
    background-color: #25D366;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 10px;
    outline: none;
    text-decoration: none;
}
