<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 0 new messages
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                        [routerLink]="['/dashboard']"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:home'"
                        ></mat-icon>
                        <span class="ml-2">Home</span>
                    </button>
                    <a
                        target="_blank"
                        class="fuse-mat-button-rounded"
                        href="https://{{ domainname }}.direct-buy.in"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <fa-icon [icon]="faStore"></fa-icon>
                        <span class="ml-2">Store</span>
                    </a>
                    <a
                        target="_blank"
                        class="fuse-mat-button-rounded whatsappbtn"
                        href="https://wa.me/?text=Dear Customer,We are delighted to inform you that our store is now online on https://{{
                            domainname
                        }}.direct-buy.in and orders can be placed online.
                        Regards - {{ firstname }}"
                        
                    >
                        <fa-icon [icon]="faWhatsapp"></fa-icon>
                        <span class="ml-2">WhatsApp</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex-1 min-w-0 pl-4">
                <!-- Breadcrumbs -->
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a
                            href="javascript:void(0);"
                            style="text-decoration: none"
                            [routerLink]="['/dashboard']"
                            class="whitespace-nowrap text-primary-500"
                            >Dashboard</a
                        >
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">Pending Orders</span>
                    </div>
                </div>
            </div>
            <div class="fixedheader m-8">
                <ng-container
                    *ngIf="pendingOrders.length > 0; else noPendingOrders"
                >
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="
                                inventory-grid
                                z-10
                                sticky
                                top-0
                                grid
                                gap-4
                                py-4
                                px-6
                                md:px-8
                                shadow
                                text-md
                                font-semibold
                                text-secondary
                                bg-gray-50
                                dark:bg-black dark:bg-opacity-5
                            "
                            matSort
                            matSortDisableClear
                        >
                            <div [mat-sort-header]="'sku'">Order Code</div>
                            <div [mat-sort-header]="'name'">Customer Name</div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'price'"
                            >
                                Order value
                            </div>
                            <div class="hidden md:block">Order Date</div>
                        </div>
                        <ng-container *ngFor="let order of pendingOrders">
                            <div
                                class="
                                    inventory-grid
                                    grid
                                    items-center
                                    gap-4
                                    py-3
                                    px-6
                                    md:px-8
                                    border-b
                                    bg-card
                                "
                            >
                                <!-- Order Code -->
                                <div class="truncate">
                                    <a
                                        href="javascript:void(0);"
                                        (click)="
                                            orderDetailsByCode(order.order_code)
                                        "
                                        >{{ order.order_code }}</a
                                    >
                                </div>

                                <!-- Name -->
                                <div class="truncate">
                                    {{ order.c_fname }}
                                </div>

                                <!-- Price -->
                                <div class="hidden sm:block">
                                    {{
                                        order.total
                                            | currency: "INR":"symbol":"1.2-2"
                                    }}
                                </div>

                                <!-- Place date -->
                                <div class="hidden md:block">
                                    {{ order.order_placed_date }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-template #noPendingOrders>
                    <div
                        class="
                            p-8
                            sm:p-16
                            border-t
                            text-4xl
                            font-semibold
                            tracking-tight
                            text-center
                        "
                    >
                        There are no Pending Orders!
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
