<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="
                    flex flex-col
                    m-8
                    p-8
                    pb-4
                    bg-card
                    rounded-2xl
                    shadow
                    overflow-hidden
                "
            >
                <p><b>Create Shop</b></p>
                <form
                    [formGroup]="addForm"
                    (ngSubmit)="onSubmit()"
                    #shopForm="ngForm"
                    autocomplete="off"
                >
                    <div class="flex flex-col sm:flex-row p-4">
                        <div class="flex flex-auto flex-wrap">
                            <!-- Name -->
                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                <!-- Name -->
                                <mat-form-field class="w-full">
                                    <mat-label>Shop Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'shop_name'"
                                    />
                                </mat-form-field>
                                <div
                                    class="flex items-center mr-4"
                                    *ngIf="flashMessage"
                                >
                                    <ng-container
                                        *ngIf="flashMessage === 'success'"
                                    >
                                        <mat-icon
                                            class="text-green-500"
                                            [svgIcon]="
                                                'heroicons_outline:check'
                                            "
                                        ></mat-icon>
                                        <span class="ml-2">Success</span>
                                    </ng-container>
                                    <ng-container
                                        *ngIf="flashMessage === 'error'"
                                    >
                                        <mat-icon
                                            class="text-red-500"
                                            [svgIcon]="'heroicons_outline:x'"
                                        ></mat-icon>
                                        <span class="ml-2"
                                            >Shop already present</span
                                        >
                                    </ng-container>
                                </div>
                            </div>

                            <!-- Address -->
                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Shop Address</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'shop_address'"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between w-full">
                        <button class="btn btn-warning" (click)="cancel()">
                            Cancel
                        </button>
                        <div class="flex items-center">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label for="shop_name"><b>Shop Name:</b></label>
                        <input
                            type="text"
                            formControlName="shop_name"
                            placeholder="Shop name"
                            name="shop_name"
                            id="shop_name"
                            class="form-control"
                        />
                        
                        <div
                            class="flex items-center mr-4"
                            *ngIf="flashMessage"
                        >
                            <ng-container *ngIf="flashMessage === 'success'">
                                <mat-icon
                                    class="text-green-500"
                                    [svgIcon]="'heroicons_outline:check'"
                                ></mat-icon>
                                <span class="ml-2">Success</span>
                            </ng-container>
                            <ng-container *ngIf="flashMessage === 'error'">
                                <mat-icon
                                    class="text-red-500"
                                    [svgIcon]="'heroicons_outline:x'"
                                ></mat-icon>
                                <span class="ml-2">Shop already present</span>
                            </ng-container>
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <label for="shop_address"><b>Shop Address:</b></label>
                        <input
                            type="text"
                            formControlName="shop_address"
                            placeholder="Shop Address"
                            name="shop_address"
                            class="form-control"
                        />
                    </div>
                    &nbsp; -->
                    <!-- <div class="form-group">
                        <label for="shopType[]"><b>ShopType:</b></label>
                        <div *ngFor="let shopType of shopType">
                            <label>
                                <input
                                    type="checkbox"
                                    [value]="shopType.shop_type_id"
                                    name="shopType[]"
                                    (change)="onCheckboxChange($event)"
                                />
                                {{ shopType.shop_type_name }}
                            </label>
                        </div>
                    </div> -->
                    <!-- <br />
                    <div class="flex items-center">
                        <button class="btn btn-success">Submit</button>
                        &nbsp; &nbsp;
                        <button class="btn btn-warning" (click)="cancel()">
                            Cancel
                        </button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
