<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable
>
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/avatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                Store Payments
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div
            class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto"
        >
            <h4 class="card-title">Choose Payment Options</h4>
            <!-- Payments -->
            <ng-container *ngIf="this.payment.length; else noCourses">
                <div
                    class="
                        grid grid-cols-1
                        sm:grid-cols-2
                        lg:grid-cols-3
                        gap-8
                        mt-8
                        sm:mt-10
                    "
                >
                    <ng-container *ngFor="let payment of payment">
                        <!-- Payment -->
                        <div
                            class="
                                flex flex-col
                                h-36
                                shadow
                                rounded-2xl
                                overflow-hidden
                                bg-card
                            "
                        >
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Payment Options -->
                                    <ng-container>
                                        <!-- Image -->
                                        <div class="flex items-center">
                                            <div
                                                class="
                                                    relative
                                                    flex flex-0
                                                    items-center
                                                    justify-center
                                                    w-12
                                                    h-12
                                                    rounded
                                                    overflow-hidden
                                                "
                                            >
                                                <img
                                                    class="w-8"
                                                    *ngIf="payment.provider_img"
                                                    [src]="payment.provider_img"
                                                />
                                                <div
                                                    class="
                                                        flex
                                                        items-center
                                                        justify-center
                                                        w-full
                                                        h-full
                                                        text-xs
                                                        font-semibold
                                                        leading-none
                                                        text-center
                                                        uppercase
                                                    "
                                                    *ngIf="
                                                        !payment.provider_img
                                                    "
                                                >
                                                    NO THUMB
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="
                                                py-0.5
                                                px-3
                                                rounded-full
                                                text-sm
                                                font-semibold
                                            "
                                        >
                                            {{ payment.payment_name }}
                                        </div>
                                    </ng-container>
                                    <!-- Completed at least once -->
                                    <div class="flex items-center">
                                        <ng-container
                                            *ngIf="
                                                payment.payment_name ==
                                                payment.pInfo_payment_name
                                            "
                                        >
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                [value]="payment.payment_name"
                                                (change)="strPayment($event)"
                                                checked="true"
                                            />
                                        </ng-container>
                                        <ng-container
                                            *ngIf="
                                                payment.payment_name !=
                                                payment.pInfo_payment_name
                                            "
                                        >
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                [value]="payment.payment_name"
                                                (change)="strPayment($event)"
                                            />
                                        </ng-container>
                                    </div>
                                </div>

                                <br />
                                <!-- Default Payment -->
                                <div
                                    class="
                                        flex
                                        items-center
                                        leading-5
                                        text-md text-secondary
                                    "
                                    *ngIf="payment.default_payment == 0"
                                >
                                    <input
                                        type="checkbox"
                                        [value]="payment.shop_pInfo_id"
                                        name="shop_pInfo_id[]"
                                        (change)="onDefaultSelect($event)"
                                        matCheckbox
                                    />
                                    <div class="ml-1.5">Make Default</div>
                                </div>
                                <div
                                    class="
                                        flex
                                        items-center
                                        leading-5
                                        text-md text-secondary
                                    "
                                    *ngIf="payment.default_payment == 1"
                                >
                                    <div class="ml-1.5">Default Payment</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- No courses -->
            <ng-template #noCourses>
                <div
                    class="
                        flex flex-auto flex-col
                        items-center
                        justify-center
                        bg-gray-100
                        dark:bg-transparent
                    "
                >
                    <mat-icon
                        class="icon-size-20"
                        [svgIcon]="'iconsmind:file_search'"
                    ></mat-icon>
                    <div
                        class="
                            mt-6
                            text-2xl
                            font-semibold
                            tracking-tight
                            text-secondary
                        "
                    >
                        No courses found!
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
