.btn.btn-danger{
    color:white;
    background-color: rgb(148, 12, 12);
}
.whatsappbtn {
    background-color: #25D366;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 10px;
    outline: none;
    text-decoration: none;
}