/* _print.scss:116 */
.table-bordered {
    th,
    td {
        border: 1px solid grey !important;
    }
}

.fixTableHead {
    overflow-y: auto;
    height: 510px;
}

@media screen and (max-width: 906px) {
    .fixTableHead {
        overflow-y: auto;
        height: 510px;
        -webkit-overflow-scrolling: touch;
    }
}

.fixTableHead th {
    position: sticky;
    top: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 8px 15px;
    border: 2px solid rgb(8, 8, 8);
}
th {
    background: #ededed;
}

.matSelect {
    width: 500vh;
}
