<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="
                    flex flex-col
                    sm:flex-row
                    flex-auto
                    sm:items-center
                    min-w-0
                    my-8
                    sm:my-12
                "
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/brian-hughes.jpg"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="
                                    text-2xl
                                    md:text-5xl
                                    font-semibold
                                    tracking-tight
                                    leading-7
                                    md:leading-snug
                                    truncate
                                "
                            >
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="ml-1.5 leading-6 truncate text-secondary"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-700"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                        <span class="ml-2">Messages</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog'"
                        ></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0">
        <div class="flex-auto p-6 sm:p-10">
            <div class="border-2 border-white-300 rounded-2xl">
                <mat-horizontal-stepper
                    [linear]="isLinear"
                    #stepper
                    labelPosition="bottom"
                >
                    <mat-step [stepControl]="shopTypeGroup" label="ShopType">
                        <div style="padding-top: 3%">
                            <form
                                [formGroup]="shopTypeGroup"
                                (ngSubmit)="onTypeSubmit()"
                            >
                                <span><b>Select Shop Type</b></span>
                                <br />

                                <div class="wj-listbox">
                                    <div class="inputChk">
                                        <input
                                            type="checkbox"
                                            [value]="shopType"
                                            (change)="selectAllShopType($event)"
                                            style="margin-left: 4px"
                                            matCheckbox
                                        />&nbsp;
                                        <label><b>Select All</b></label>
                                    </div>
                                    <div
                                        class="checkbox"
                                        *ngFor="let shopType of shopType"
                                    >
                                        <input
                                            type="checkbox"
                                            [value]="shopType.shop_type_name"
                                            name="shopType[]"
                                            [checked]="shopType.selected"
                                            (change)="onShopTypeChange($event)"
                                            matCheckbox
                                        />
                                        {{ shopType.shop_type_name }}
                                    </div>
                                </div>
                                <br />

                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                >
                                    Next
                                </button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="categoryGroup" label="Category">
                        <div style="padding-top: 3%">
                            <form
                                [formGroup]="categoryGroup"
                                (ngSubmit)="onCategorySubmit()"
                            >
                                <span> <b>Select Category</b></span>
                                <br />

                                <div class="wj-listbox">
                                    <div class="inputChk">
                                        <input
                                            type="checkbox"
                                            [value]="categories"
                                            (change)="selectAllCategory($event)"
                                            style="margin-left: 4px"
                                            matCheckbox
                                        />&nbsp;
                                        <label><b>Select All</b></label>
                                    </div>

                                    <div
                                        class="checkbox"
                                        *ngFor="let categories of categories"
                                    >
                                        <input
                                            type="checkbox"
                                            [value]="categories.category"
                                            name="categories[]"
                                            [checked]="categories.selected"
                                            (change)="onCategoryChange($event)"
                                            matCheckbox
                                        />
                                        {{ categories.category }}
                                    </div>
                                </div>
                                <br />

                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                >
                                    Next
                                </button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step
                        [stepControl]="subCategoryGroup"
                        label="SubCategory"
                    >
                        <div style="padding-top: 3%">
                            <form
                                [formGroup]="subCategoryGroup"
                                (ngSubmit)="onSubCategorySubmit()"
                            >
                                <span> <b>Select Sub-Category</b></span>
                                <br />

                                <div class="wj-listbox">
                                    <div class="inputChk">
                                        <input
                                            type="checkbox"
                                            [value]="sub_category"
                                            (change)="
                                                selectAllSubCategory($event)
                                            "
                                            style="margin-left: 4px"
                                            matCheckbox
                                        />&nbsp;
                                        <label><b>Select All</b></label>
                                    </div>

                                    <div
                                        class="checkbox"
                                        *ngFor="
                                            let sub_category of sub_category
                                        "
                                    >
                                        <input
                                            type="checkbox"
                                            [value]="sub_category.sub_category"
                                            name="sub_category[]"
                                            [checked]="sub_category.selected"
                                            (change)="
                                                onSubCategoryChange($event)
                                            "
                                            matCheckbox
                                        />
                                        {{ sub_category.sub_category }}
                                    </div>
                                </div>
                                <br />

                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                >
                                    Next
                                </button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="brandGroup" label="Brand">
                        <div style="padding-top: 3%">
                            <form
                                [formGroup]="brandGroup"
                                (ngSubmit)="onBrandSubmit()"
                            >
                                <span><b>Select Brand</b></span>
                                <br />

                                <div class="wj-listbox">
                                    <div class="inputChk">
                                        <input
                                            type="checkbox"
                                            [value]="brand"
                                            (change)="selectAllBrand($event)"
                                            style="margin-left: 4px"
                                            matCheckbox
                                        />&nbsp;
                                        <label><b>Select All</b></label>
                                    </div>

                                    <div
                                        class="checkbox"
                                        *ngFor="let brand of brand"
                                    >
                                        <input
                                            type="checkbox"
                                            [value]="brand.brand"
                                            name="brand[]"
                                            [checked]="brand.selected"
                                            (change)="onBrandChange($event)"
                                            matCheckbox
                                        />
                                        {{ brand.brand }}
                                    </div>
                                </div>
                                <br />

                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                >
                                    Next
                                </button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="productGroup" label="Products">
                        <div style="padding-top: 3%">
                            <form
                                [formGroup]="dataFilteredGroup"
                                (ngSubmit)="onDataFilterSubmit()"
                            >
                                <div class="example-form">
                                    <div class="flex flex-col">
                                        <span
                                            ><b>ShopType:</b>
                                            {{ this.shop_type }}</span
                                        >
                                        <br />
                                        <span
                                            ><b>Category:</b>
                                            {{ this.category }}</span
                                        >
                                        <br />
                                        <span
                                            ><b>SubCategory:</b>
                                            {{ this.subCategory }}</span
                                        >
                                        <br />
                                        <span
                                            ><b>Brand:</b>
                                            {{ this.brands }}</span
                                        >
                                        <br />
                                        <!-- <input
                                            type="checkbox"
                                            [value]="dataset"
                                            (change)="selectAllProducts($event)"
                                        />Select All -->
                                        <br />

                                        <div class="fixTableHead">
                                            <span
                                                ><b
                                                    >Select Filetred Data</b
                                                ></span
                                            >
                                            <table
                                                mat-table
                                                matSort
                                                [dataSource]="dataset"
                                                class="
                                                    table
                                                    table-bordered
                                                    table-responsive
                                                "
                                            >
                                                <ng-container
                                                    matColumnDef="base_product_id"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        <input
                                                            type="checkbox"
                                                            [value]="dataset"
                                                            (change)="
                                                                selectAllProducts(
                                                                    $event
                                                                )
                                                            "
                                                        />
                                                        &nbsp; Select All
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        <input
                                                            type="checkbox"
                                                            [value]="
                                                                element.base_product_id
                                                            "
                                                            name="base_product_id[]"
                                                            [checked]="
                                                                element.selected
                                                            "
                                                            (change)="
                                                                onCheckboxChange(
                                                                    $event
                                                                )
                                                            "
                                                            matCheckbox
                                                        />
                                                    </td>
                                                </ng-container>
                                                <!-- <ng-container
                                                    matColumnDef="shop_type"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Shop Type
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{ element.shop_type }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="category"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Category
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{ element.category }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="sub_category"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Sub Category
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.sub_category
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="brand"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Brand
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{ element.brand }}
                                                    </td>
                                                </ng-container> -->

                                                <ng-container
                                                    matColumnDef="product_name"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Name
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_name
                                                        }}
                                                    </td>
                                                </ng-container>
                                                <ng-container
                                                    matColumnDef="product_type"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Type
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_type
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <!-- <ng-container
                                                    matColumnDef="product_sub_type"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product SubType
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_sub_type
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="product_weight"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Weight
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_weight
                                                        }}
                                                    </td>
                                                </ng-container> -->

                                                <ng-container
                                                    matColumnDef="mergedField"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Weight
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_weight
                                                        }}{{
                                                            element.product_weight_type
                                                        }}
                                                    </td>
                                                </ng-container>
                                                <!-- <ng-container
                                                    matColumnDef="product_weight_type"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Weight Type
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_weight_type
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="product_qty"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Qty
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_qty
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <ng-container
                                                    matColumnDef="product_price"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Product Price
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.product_price
                                                        }}
                                                    </td>
                                                </ng-container>
                                                <ng-container
                                                    matColumnDef="offer_price"
                                                >
                                                    <th
                                                        mat-header-cell
                                                        *matHeaderCellDef
                                                    >
                                                        Offer Price
                                                    </th>
                                                    <td
                                                        mat-cell
                                                        *matCellDef="
                                                            let element
                                                        "
                                                    >
                                                        {{
                                                            element.offer_price
                                                        }}
                                                    </td>
                                                </ng-container> -->

                                                <tr
                                                    mat-header-row
                                                    *matHeaderRowDef="
                                                        displayedColumns
                                                    "
                                                ></tr>
                                                <tr
                                                    mat-row
                                                    *matRowDef="
                                                        let row;
                                                        columns: displayedColumns
                                                    "
                                                ></tr>
                                                <tr
                                                    class="mat-row"
                                                    *matNoDataRow
                                                >
                                                    <td
                                                        class="mat-cell"
                                                        colspan="4"
                                                    >
                                                        No data matching the
                                                        filter "{{
                                                            input.value
                                                        }}"
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <mat-paginator
                                            #paginator
                                            [pageSize]="25"
                                            [pageSizeOptions]="[
                                                2, 5, 10, 25, 100
                                            ]"
                                        >
                                        </mat-paginator>
                                    </div>
                                </div>
                                <br />
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                >
                                    Next
                                </button>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Congratulations</ng-template>
                        <h5>
                            Congratulations on adding products to your store
                        </h5>
                        <div>
                            &nbsp; &nbsp;
                            <button
                                mat-raised-button
                                color="accent"
                                (click)="move(0)"
                            >
                                Add More Products
                            </button>
                            &nbsp; &nbsp;
                            <!-- <a
                                href="javascript:void(0);"
                                class="btn btn-primary"
                                
                                (click)="move(0)"
                                >Add More Products</a
                            > -->
                            <button
                                mat-raised-button
                                color="primary"
                                id="complete"
                                (click)="done()"
                            >
                                Submit
                            </button>
                            <!-- <a
                                href="javascript:void(0);"
                                class="btn btn-success"
                                id="complete"
                                (click)="done()"
                                >Submit</a
                            > -->
                            &nbsp; &nbsp;
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>
