<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="assets/images/avatars/avatar.png" />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{ t("welcome-back") }}, Brian!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">
                                You have 0 new messages
                            </div>
                        </div>
                        <div class="flex items-center mr-4" *ngIf="flashMessage">
                            <ng-container *ngIf="flashMessage === 'success'">
                                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                <span class="ml-2">Store setup creation is successful</span>
                            </ng-container>
                            <ng-container *ngIf="flashMessage === 'error'">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                <span class="ml-2">An error occurred, try again!</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button class="fuse-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'"
                        [routerLink]="['/dashboard']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:home'"></mat-icon>
                        <span class="ml-2">Home</span>
                    </button>
                    <a class="fuse-mat-button-rounded" href="javascript:void(0);" [routerLink]="['/store-setting']"
                        mat-flat-button [color]="'primary'">
                        <fa-icon [icon]="faStore"></fa-icon>
                        <span class="ml-2">Store</span>
                    </a>
                    <a target="_blank" class="fuse-mat-button-rounded" href="https://wa.me/?text=Dear Customer,We are delighted to inform you that our store is now online on https://{{
                            domainname
                        }}.direct-buy.in and orders can be placed online.
                        Regards - {{ firstname }}" style="text-decoration: none;">
                        <button mat-flat-button color="success" style="background-color: #25D366;color: #f0fff3;">
                            <fa-icon [icon]="faWhatsapp"></fa-icon>
                            <span class="ml-2">WhatsApp</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="flex flex-col m-8 p-8 bg-card rounded-2xl shadow overflow-hidden">
                <div *ngIf="maptblheader==0">
                    <div class="circles">
                        {{ "Mapping Table Header" }}
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="alternate"></div>
                        <div class="alternate"></div>
                    </div>
                    <ngb-progressbar type="warning" [value]="0" [striped]="true" [animated]="true"><i>0%</i>
                    </ngb-progressbar>
                </div>
                <div *ngIf="maptblheader==1">
                    <div class="circles">
                        {{ "Mapping Table Header" }}
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="alternate"></div>
                        <div class="alternate"></div>
                    </div>
                    <ngb-progressbar type="warning" [value]="25" [striped]="true" [animated]="true"><i>25%</i>
                    </ngb-progressbar>
                </div>
                <div *ngIf="maptblheader == 2">
                    <div class="circles">
                        {{ "Pushing Data" }}
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="alternate"></div>
                        <div class="alternate"></div>
                    </div>
                    <ngb-progressbar type="warning" [value]="25" [striped]="true" [animated]="true"><i>25%</i>
                    </ngb-progressbar>
                </div>

                <div *ngIf="maptblheader == 3">
                    <div class="circles">
                        {{ "Saving Configuration" }}
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="primary"></div>
                        <div class="alternate"></div>
                        <div class="alternate"></div>
                    </div>
                    <ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>75%</i>
                    </ngb-progressbar>
                </div>

                <div *ngIf="maptblheader == 4">
                    <ngb-progressbar type="success" [value]="100" [striped]="true">Completed!</ngb-progressbar>
                </div>

                <div class="mt-1.5 text-lg text-secondary">
                    <b>Store Name :</b> {{ shop_name }}
                </div>
                <div class="mt-1.5 text-lg text-secondary">
                    <b>Store Address :</b> {{ shop_address }}
                </div>
                <div class="mt-1.5 text-lg text-secondary">
                    <b>Store Unique Code :</b> {{ shopId }}
                </div>
                <div class="mt-1.5 text-lg text-secondary">
                    <!-- <b>No of Products :</b> {{ countProduct }} -->
                </div>

                <div class="flex items-center">

                    <button class="lg:mt-6" mat-flat-button [color]="'primary'" (click)="complete()"
                        *ngIf="maptblheader == 4; else nextStep">
                        Next
                    </button>
                    &nbsp;
                    <ng-template #nextStep>
                        <div class="flex items-center">
                            <button class="lg:mt-6" mat-flat-button [color]="'primary'" disabled="true">
                                Next
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>